body {
	margin: 0 auto;
	padding: 0;
	min-width: 1280px;
}

img {
	pointer-events: none;
}

/* FONTS AND TITLES */

/* font-family: "CaviarDreamsRegular"; */
@font-face {
    font-family: "Caviar";
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot");
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.woff") format("woff"),
    url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CaviarDreamsBold"; */
@font-face {
    font-family: "CaviarBold";
    src: url("../fonts/CaviarDreamsBold/CaviarDreamsBold.eot");
    src: url("../fonts/CaviarDreamsBold/CaviarDreamsBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CaviarDreamsBold/CaviarDreamsBold.woff") format("woff"),
    url("../fonts/CaviarDreamsBold/CaviarDreamsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UbuntuR";
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot");
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.woff") format("woff"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Noto";
    src: url("../fonts/NotoSansRegular/NotoSansRegular.eot");
    src: url("../fonts/NotoSansRegular/NotoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/NotoSansRegular/NotoSansRegular.woff") format("woff"),
    url("../fonts/NotoSansRegular/NotoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Marck";
    src: url("../fonts/MarckScriptRegular/MarckScriptRegular.eot");
    src: url("../fonts/MarckScriptRegular/MarckScriptRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MarckScriptRegular/MarckScriptRegular.woff") format("woff"),
    url("../fonts/MarckScriptRegular/MarckScriptRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1 {
	font-family: UbuntuR;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: Caviar, Arial;
	margin: 0;
	padding: 0;
}

.h2-good {
	font-family: Caviar, Arial;
} 


p {
	font-family: Caviar;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

.copyright {
	font-size: 14px;
	color: #bcd9ff;
}

/* MAIN HEADER */
.header {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	overflow: auto;
}

.header .wrapper {
	width: 100%;
	display: block;
	max-width: 1280px;
	position: absolute;
	min-width: 850px;
}

.header .logo {
	float: left;
}

.header .logo .img {
	width: 350px;
	height: 85px;
	margin: 45px 0px;
	opacity: 0.9;
	background-image: url(../img/header-logo/header-logo.png);
	background-size: 100% 75px;
	background-repeat: no-repeat;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

.header .logo .img:hover{
	opacity: 1;
}

.header .logo .img:active {
	background-image: url(../img/header-logo/header-logo-active.png);
}

.header .logo a {
	padding-top: 50px;
}

.header .nav-menu {
	display: table-cell;
	float: right;
	margin-top: 50px;
	padding: 0;
	list-style-type: none;
}

.header .nav-menu > li {
	float: left;
	display: inline-block;
}

.header .nav-menu > li > a {
	display: table-cell;
	padding: 20px 15px;
	margin:  0px;
	color: #5B392E;
	font-weight: bold;
	font-size: 27px;
	font-family: Marck, Arial;
	
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

.header .nav-menu > li > a:hover {
	color: #F3F1EB;
}

.header .nav-menu > li > a:active {
	color: #301A0B;
	-moz-transition: all 0.08s ease-out;
	-o-transition: all 0.08s ease-out;
	-webkit-transition: all 0.08s ease-out;
}


@media (max-width: 960px) {
	.header .logo .img {
		width: 260px;
	}
}

/* MAIN CONTENT */
.section {
	max-width: 2048px;
	margin: 0 auto;
}

.main #top {
	margin-top: 0px;
	background-image: url(../img/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	/*background-attachment: fixed;*/
	background-size: 100% 1000px;
	width: 100%;
	height: 1000px; 
}

.main #top .wrapper {
	overflow: hidden;
}

.main #top .buy {
	box-shadow: 10px;
	width: 500px;
	float: left;
	margin-top: 200px;
	margin-left: 200px;
}

.main #top  .buy .h2-info {
	color: white;
	font-family: UbuntuR, Arial;
	font-size: 55px;
	margin-bottom: 10px;
	text-shadow: rgb(13, 6, 1) -4px 5px 1px;
}

.main #top  .buy .text {
	color: white;
	font-family: Marck, Arial;
	font-weight: bold;
	font-size: 45px;
	text-shadow: rgb(13, 6, 1) -4px 5px 1px;
	max-width: 350px;
}

.main #top  .buy a.button {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #6F4E37;
	padding: 25px 100px;
	margin-top: 20px;
	outline: none;
	border-radius: 12px;
	font-family: Marck, Arial;
	font-size: 34px;
	font-weight: bold;
	-webkit-box-shadow: -9px 11px 13px 0px rgba(50, 50, 50, 0.72);
	-moz-box-shadow:    -9px 11px 13px 0px rgba(50, 50, 50, 0.72);
	box-shadow:         -9px 11px 13px 0px rgba(50, 50, 50, 0.72);
}

.main #top  .buy a.button:hover {
	background: #CEAE82;
}

.main #top  .buy a.button:active {
	background: #5B392E;
}

.main #top .bork {
	background-image: url(../img/top/bork2.png);
	background-repeat: no-repeat;
	background-size: 80% 600px;
	width: 700px;
	height: 600px;
	float: right;
	margin-top: 200px;
	margin-right: -120px;
}

.main #top #slider {
	position:relative;
	margin-top: 550px;
	margin-left: 50px;
	padding: 5px;
	width: 660px;
	height:360px;
}

.main #top #slider #scr {
	margin:20px auto;
	width: 600px;
	height: 320px;
	margin-top:20px;
	background-color: white;
	background-size: 100% 320px;
	background-position: center;
	border-radius: 8px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	-mox-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
}

.main #top #slider button {
	position: absolute;
	top: 150px;
	width: 25px;
	height: 70px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
	border-radius: 30px;
	background: #bebebe;
	border: none;
	opacity: 0.3;
	outline: none;
	color: white;
	font-weight: bold;
}

.main #top #slider button:hover {
	opacity: 0.8;
}

.main #top #slider button:active {
	opacity: 1;
	background: #393738;
	color: black;
}


.main #top #slider .left {
	left:5px;
	margin-left: 35px;
}

.main #top #slider .right {
	right:5px;
	margin-right: 35px;
}


.main #about {
	background-image: url(../img/about/bg.jpg);
	background-color: #262626;
	opacity: 1;
	overflow: auto;
}

.main #about .info {
	margin: 0 auto;
	max-width: 1000px;
}

.main #about .bork {
	background-image: url(../img/about/bork.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40%;
	height: 900px;
	float: left;

}

.main #about .info {
	width: 50%;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}

.main #about .info h2 {
	margin-top: 80px;
	font-size: 60px;
	color: white;
}

.main #about .info i {
	padding-right: 20px;
	color: #BDBDBD;
}

.main #about p {
	font-size: 30px;
	margin-top: 10px;
	color: white;
	padding-left: 90px;
}

.main #video-blog {
	width: 100%;
	overflow: hidden;
	height: 1000px;
	background-image: url(../img/main-bg.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
}


.main #video-blog .wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
}

.main #video-blog {
	font-size: 70px;
	text-align: center;
	padding-top: 50px;
	color: white;
}

.main #video-blog .border {
	border-radius: 15px;
	border: 15px solid black;
	height: 520px;
	margin-top: 100px;
	overflow: hidden;
	box-shadow: 0px 20px 50px rgba(1,0,0,1);
	/*-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	-mox-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);*/
}

.main #video-blog iframe {
	margin: auto;
}

/*FONT*/


.main #how-we-work {
	background-image: url(../img/how-we-work/bg.jpg);
	/*background-size: 100% 100%;*/
	background-color: #1f1d1e;
	height: 1300px;
}

.main #how-we-work .wrapper {
	max-width: 1280px;
	margin: 0 auto;
	height: 1200px;
}

.main #how-we-work .wrapper .h2-good {
	color: white;
	font-size: 35px;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.main #how-we-work .block {
	width: 400px;
	height: 550px;
	float: left;
	margin: 10px;
	margin-bottom: 20px;
}

.main #how-we-work .blocks .photo {
	width: 100%;
	height: 45%;
	border-radius: 1px;
}

.main #how-we-work .block hr {
	border: none;
	background-color: white;
	height: 2px;
	width: 150px;
	margin: 10px auto;

}

.main #how-we-work .block p {
	font-size: 27px;
	padding: 0 10px;
	text-align: center;
	color: white;
}

.main #map {
	width: 100%;
	height: 800px;
}

.main #map .wrapper {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.main #map h2 {
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	z-index: 101;
	color: black;
}

.main #write-us {
	background-image: url(../img/main-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 800px;
}

/* MAIN FOOTER */
.main-footer {
	float: left;
	width: 100%;
	background-color: black;
	text-align: center;
	opacity: 0.9;
	margin: 0;
}

.main-footer-inner {
	max-width: 960px;
	margin: 0 auto;
}

.main-footer .footer-left {
	margin-top: 10px;
	width: 30%;
	float: left;
	margin-right: 0;
	padding-right: 0;
}

.main-footer p {
	margin: 0;
}

.main-footer .footer-right {
	margin-top: 15px;
	width: 35%;
	float: left;
}

.main-footer .footer-main {
	width: 35%;
	float: left;
	margin: 0;
}

.main-footer .footer-main img {
	border-radius: 25px;
}

.main-footer .footer-main > ul > li {
	display: inline-block;
	margin-left: 40px;
	opacity: 0.4;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

.main-footer .footer-main > ul > li:hover {
	opacity: 1;
}

.main-footer .footer-main > ul > li:active {
	opacity: 0.1;
}

.main-footer .footer-main > ul > li > a {
	position: absolute;
	display: inline-block;
	margin-top: -25px;
}

/*@media (max-width: 550px) {
	.main-footer .footer-right {
		display: none;
	}

	.main-footer .footer-main > ul > li {
		margin-left: 35px;
	}

	.main-footer .footer-main {
		width: 50%;
		float: left;
	}
	.main-footer .footer-left {
		width: 45%;
	}
}*/