body {
	margin: 0 auto;
	padding: 0;
	min-width: 1280px;
}

img {
	pointer-events: none;
}

/* FONTS AND TITLES */

/* font-family: "CaviarDreamsRegular"; */
@font-face {
    font-family: "Caviar";
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot");
    src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.woff") format("woff"),
    url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CaviarDreamsBold"; */
@font-face {
    font-family: "CaviarBold";
    src: url("../fonts/CaviarDreamsBold/CaviarDreamsBold.eot");
    src: url("../fonts/CaviarDreamsBold/CaviarDreamsBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CaviarDreamsBold/CaviarDreamsBold.woff") format("woff"),
    url("../fonts/CaviarDreamsBold/CaviarDreamsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UbuntuR";
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot");
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.woff") format("woff"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Noto";
    src: url("../fonts/NotoSansRegular/NotoSansRegular.eot");
    src: url("../fonts/NotoSansRegular/NotoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/NotoSansRegular/NotoSansRegular.woff") format("woff"),
    url("../fonts/NotoSansRegular/NotoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Marck";
    src: url("../fonts/MarckScriptRegular/MarckScriptRegular.eot");
    src: url("../fonts/MarckScriptRegular/MarckScriptRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MarckScriptRegular/MarckScriptRegular.woff") format("woff"),
    url("../fonts/MarckScriptRegular/MarckScriptRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1 {
	font-family: UbuntuR;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

.h2-good {
	font-family: Caviar, Arial;
} 


p {
	font-family: Caviar;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

.copyright {
	font-size: 14px;
	color: #bcd9ff;
}

/* MAIN HEADER */
.header {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	overflow: auto;
}

.header .wrapper {
	width: 100%;
	display: block;
	max-width: 1280px;
	position: absolute;
	min-width: 850px;
}

.header .logo {
	float: left;
}

.header .logo .img {
	width: 350px;
	height: 85px;
	margin: 45px 0px;
	opacity: 0.9;
	background-image: url(../img/header-logo/header-logo.png);
	background-size: 100% 75px;
	background-repeat: no-repeat;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
}

.header .logo .img:hover{
	opacity: 1;
}

.header .logo .img:active {
	background-image: url(../img/header-logo/header-logo-active.png);
}

.header .logo a {
	padding-top: 50px;
}

.header .nav-menu {
	display: table-cell;
	float: right;
	margin-top: 50px;
	padding: 0;
	list-style-type: none;
}

.header .nav-menu > li {
	float: left;
	display: inline-block;
}

.header .nav-menu > li > a {
	display: table-cell;
	padding: 20px 15px;
	margin:  0px;
	color: #5B392E;
	font-weight: bold;
	font-size: 27px;
	font-family: Marck, Arial;
	
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

.header .nav-menu > li > a:hover {
	color: #F3F1EB;
}

.header .nav-menu > li > a:active {
	color: #301A0B;
	-moz-transition: all 0.08s ease-out;
	-o-transition: all 0.08s ease-out;
	-webkit-transition: all 0.08s ease-out;
}


@media (max-width: 960px) {
	.header .logo .img {
		width: 260px;
	}
}

/* MAIN CONTENT */
.section {
	max-width: 2048px;
	margin: 0 auto;
}

.main #top {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	height: 1080px;
}	

.main #about .buy {
	max-width: 1280px;
	margin: 0 auto;
	margin-bottom: 50px;
	box-shadow: 10px;
}

.main #about .buy .h2-info {
	color: white;
	font-family: UbuntuR, Arial;
	font-size: 55px;
	margin-bottom: 10px;
	text-shadow: rgb(13, 6, 1) -4px 5px 1px;
}

.main #about .buy .text {
	color: white;
	font-family: Marck, Arial;
	font-weight: bold;
	font-size: 45px;
	max-width: 350px;
	text-shadow: rgb(13, 6, 1) -4px 5px 1px;
}

.main #about .buy a.button {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #6F4E37;
	padding: 25px 100px;
	margin-top: 20px;
	outline: none;
	border-radius: 12px;
	font-family: Marck, Arial;
	font-size: 34px;
	font-weight: bold;
	-webkit-box-shadow: -9px 11px 13px 0px rgba(50, 50, 50, 0.72);
	-moz-box-shadow:    -9px 11px 13px 0px rgba(50, 50, 50, 0.72);
	box-shadow:         -9px 11px 13px 0px rgba(50, 50, 50, 0.72);
}

.main #about .buy a.button:hover {
	background: #CEAE82;
}

.main #about .buy a.button:active {
	background: #5B392E;
}

.main #about {
	background: #c2c2c2;
	overflow: auto;
}

.main #about .info {
	margin: 0 auto;
	max-width: 1000px;
}

.main #about .bork{
	background-image: url(../img/about.png);
	background-repeat: no-repeat;
	background-size: 100% 900px;
	width: 50%;
	height: 900px;
	float: left;

}

.main #about .info {
	width: 40%;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*FONT*/

.main #about .info .h2-good {
	font-size: 70px;
}

.main #about .info .text2 {
	margin-top: 10px;
	font-family: Caviar, Arial;
	font-size: 30px;
}


.main #how-we-work {
	background-image: url(../img/how-we-work/bg.jpg);
	background: #1f1d1e;
	height: 1450px;
}

.main #how-we-work .wrapper {
	max-width: 1280px;
	margin: 0 auto;
	height: 1450px;
}

.main #how-we-work .wrapper .h2-good {
	color: white;
	font-size: 45px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main #how-we-work .block {
	width: 400px;
	height: 600px;
	float: left;
	margin: 10px;
	margin-bottom: 30px;
}

.main #how-we-work .blocks .photo {
	width: 100%;
	height: 50%;
	border-radius: 1px;
}

.main #how-we-work .block hr {
	border: none;
	background-color: white;
	height: 2px;
	width: 150px;
	margin: 10px auto;

}

.main #how-we-work .block p {
	font-size: 27px;
	padding: 0 10px;
	text-align: center;
	color: white;
}

.main #overview {
	background-image: url(../img/overview/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 800px;
	width: 100%;
	height: 800px;
}

.main #overview .wrapper {
	margin: 0 auto;
	height: 100%;
}

.main #overview .bork {
	background-image: url(../img/overview/bork2.png);
	background-repeat: no-repeat;
	background-size: 80% 600px;
	width: 700px;
	height: 600px;
	float: right;
	margin-top: 50px;
	margin-right: -120px;
}

/* MAIN FOOTER */
.main-footer {
	float: left;
	width: 100%;
	background-color: black;
	text-align: center;
	opacity: 0.9;
	margin: 0;
}

.main-footer-inner {
	max-width: 960px;
	margin: 0 auto;
}

.main-footer .footer-left {
	margin-top: 10px;
	width: 30%;
	float: left;
	margin-right: 0;
	padding-right: 0;
}

.main-footer p {
	margin: 0;
}

.main-footer .footer-right {
	margin-top: 15px;
	width: 35%;
	float: left;
}

.main-footer .footer-main {
	width: 35%;
	float: left;
	margin: 0;
}

.main-footer .footer-main img {
	border-radius: 25px;
}

.main-footer .footer-main > ul > li {
	display: inline-block;
	margin-left: 40px;
	opacity: 0.4;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

.main-footer .footer-main > ul > li:hover {
	opacity: 1;
}

.main-footer .footer-main > ul > li:active {
	opacity: 0.1;
}

.main-footer .footer-main > ul > li > a {
	position: absolute;
	display: inline-block;
	margin-top: -25px;
}

/*@media (max-width: 550px) {
	.main-footer .footer-right {
		display: none;
	}

	.main-footer .footer-main > ul > li {
		margin-left: 35px;
	}

	.main-footer .footer-main {
		width: 50%;
		float: left;
	}
	.main-footer .footer-left {
		width: 45%;
	}
}*/