body {
	margin: 0 auto;
	padding: 0;
	max-width: 2048px;
}


h2 {
	font-family: CaviarBold, Arial;
	font-size: 25px;
	margin: 0;
	padding: 0;
	color: black;
}

h3 {
	font-family: Caviar, Arial;
	margin: 0;
	padding: 0;
	color: black;
}

p {
	font-family: Caviar;
	color: black;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.main #logo {
	height: 520px;
	width: 100%;
	background-image: url(../img/species/logo.jpg);
	background-position: center;
	-webkit-box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.44);
	-moz-box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.44);
	box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.44);
}

.main #logo h1 {
	font-family: Caviar;
	font-size: 100px;
	color: black;
	padding-top: 150px;
	padding-right: 10%;
	text-align: center;
}

.main #logo .marker {
	width: 400px;
	height: 130px;
	float: right;
	background-image: url(../img/species/marker.png);
}

.main #logo .marker h2 {
	text-align: center;
	padding-top: 15px;
	color: #F4ECD9;
}

.main #logo .mark {
	margin: 0 auto;
	max-width: 120px;
	margin-top: 210px;
}

.main #logo p {
	font-size: 30px;
	color: #b39389;
}

.main #logo p:hover {
	color: #714639;
}

.main #logo p:active {
	color: #54342a;
}

.main #menu {
	margin-top: 50px;
	width: 100%;
	height: 720px;
	background: fixed url() no-repeat;
	background-size: cover;
}

.main #menu .wrapper {
	max-width: 1300px;
	height: 100%;
	margin: 0 auto;
}

.main #menu .block {
	float: left;
	height: 200px;
	width: 20%;
	margin: 20px 0px;
	margin-left: 50px;
}

.main #menu .block > *:hover {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.main #menu .block img {
	height: 80%;
	width: 100%;
}

.main #menu .block p {
	text-align: center;
	color: white;
}

.main #menu #video_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    min-width: 100%;
    min-height: 100%;
    width: auto; 
    height: auto; 
}

.main .coffee {
	width: 100%;
	max-width: 2048px;
	margin: 0 auto;
	height: 400px;
	background: white;
}

.main .coffee .wrapper {
	padding-top: 25px;
	max-width: 1400px;
	height: 400px;
	margin: 0 auto;
}

.main .coffee .wrapper img {
	width: 30%;
	height: 70%;
	float: left;
}

.main .coffee .wrapper .text {
	width: 70%;
	overflow: hidden;
}

.main .coffee .wrapper .text h2 {
	padding: 20px 0px;
}

.main .coffee .wrapper .text .proportion {
	padding: 20px 0px;
	padding-bottom: 40px;
}


.main .coffee .wrapper i {
	padding-right: 5px;
}

.main #classic {
	background: #f3f3f3;
}

.main #espresso {
	background: #f3f3f3;
}

.main #americano {
	background: #f3f3f3;
}

.main #intenso {
	background: #f3f3f3;
}

.main #soft {
	height: 800px;
}

.main #macchiato {
	background: #f3f3f3;
}

.main #latte {
	background: #f3f3f3;
}

.main .up {
	position: fixed;
	z-index: 1000;
	bottom: 40px; right: 50px;
}
.main .up i {
	font-size: 80px;
	color: #b39389;
}

.main .up i:hover {
	color: #714639;
}

.main .up i:active {
	color: #54342a;
}

/* MEDIA */

@media (max-width: 1200px) {
	.main .coffee .wrapper .text .history {
		font-size: 16px;
	}

	.main #menu {
		height: 1000px;
	}
}

@media (max-width: 800px) {
	.main .coffee .wrapper .text .history {
		font-size: 14px;
	}
	.main #soft {
		height: 1200px;
	}
	.main .up i {
		font-size: 60px;
	}
	.main .up {
		bottom: 10px;
		right: 15px;
	}
}

@media (max-width: 600px) {
	.main #logo h1 {
		padding-top: 50px;
	}
	.main #logo .mark {
		display: none;
	}
}

@media (max-width: 400px) {
	.main #menu {
		height: 1500px;
	}
	.main .coffee .wrapper .text .history {
		font-size: 15px;
	}
	.main #soft {
		height: 1000px;
	}
	.main .up i {
		font-size: 40px;
	}
	.main .up {
		bottom: 5px;
		right: 5px;
	}
	
	.main .coffee .wrapper .text h2 {
		padding: 0px 0;
	}

	.main .coffee .wrapper .text .proportion {
		padding-bottom: 15px;
	}

	.main .coffee .wrapper .text {
		width: 100%;
		padding: 0 20px;
		padding-right: 60px;
	}

	.main .coffee .wrapper .text .history {
		font-size: 14px;
	}
	
	.main .coffee img {
		display: none;
	}
}
