.main-content {
}

.top-block .top-title {
	color: white;
	text-align: center;
	font-size: 280px;
}

.top-block {
	background-image: url(../img/museums/top-photo.jpg);
	height: 800px;
	background-size: 100% 800px;
}

#main {
	position:relative;
	margin: 100px auto;
	padding: 5px;
	width: 660px;
	height:360px;
}

#src {
	margin:20px auto;
	width: 600px;
	height: 320px;
	margin-top:20px;
	background-color: white;
	background-size:cover;
	border-radius: 10px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	-mox-box-shadow: 0 0 12px rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
}

button {
	position: absolute;
	top: 150px;
	width: 25px;
	height: 70px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
}

.left {
	left:5px;
}
.right {
	right:5px;
}